In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("../input/train.csv")

In [16]:
target_0 = (df["target"] == 0).sum()
target_0

487677

In [17]:
target_1 = (df["target"] == 1).sum()
target_1

112323

In the dataset,


• Five binary variables

• Ten nominal variables 

• Six ordinal variables

• Two cyclic variables 

• And a target variable

In [18]:
df[df["ord_2"] == "Boiling Hot"].shape

(84790, 25)

In [19]:
df.groupby(['ord_2'])["id"].count()

ord_2
Boiling Hot     84790
Cold            97822
Freezing       142726
Hot             67508
Lava Hot        64840
Warm           124239
Name: id, dtype: int64

In [20]:
df.groupby(
    ["ord_1", "ord_2"]
)["id"].count().reset_index(name="count")

          ord_1        ord_2  count
0   Contributor  Boiling Hot  15634
1   Contributor         Cold  17734
2   Contributor     Freezing  26082
3   Contributor          Hot  12428
4   Contributor     Lava Hot  11919
5   Contributor         Warm  22774
6        Expert  Boiling Hot  19477
7        Expert         Cold  22956
8        Expert     Freezing  33249
9        Expert          Hot  15792
10       Expert     Lava Hot  15078
11       Expert         Warm  28900
12  Grandmaster  Boiling Hot  13623
13  Grandmaster         Cold  15464
14  Grandmaster     Freezing  22818
15  Grandmaster          Hot  10805
16  Grandmaster     Lava Hot  10363
17  Grandmaster         Warm  19899
18       Master  Boiling Hot  10800
19       Master         Cold  12364
20       Master     Freezing  18035
21       Master          Hot   8594
22       Master     Lava Hot   8209
23       Master         Warm  15734
24       Novice  Boiling Hot  22718
25       Novice         Cold  26271
26       Novice     Freezing  38233
27       Novice          Hot  17850
28       Novice     Lava Hot  17373
29       Novice         Warm  33263

In [21]:
df.ord_2.fillna("NONE").value_counts()

ord_2
Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
NONE            18075
Name: count, dtype: int64

In [22]:
df.ord_4.fillna("NONE").value_counts()

ord_4
N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
NONE    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
G        3404
V        3107
J        1950
L        1657
Name: count, dtype: int64

In [1]:
import xgboost as xgb